.body-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.t1-home {
    color: black;
    background-color: rgb(250, 250, 250);
    width: 50%;
    text-align: center;
}

th {
    background-color: #04AA6D;
    color: white;
}