@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;700&display=swap');

body{
  font-family: "Poppins", sans-serif;
  background: linear-gradient(#64d3e6, #313dbd);
  margin: 0;
  padding: 0;
}